In [3]:
import pandas as pd
import joblib

In [5]:
data = {
    "agency_name": [75.0],
    "sex": [0],
    "race": [5.0],
    "job_class": [756.0],
    "classification": [0],
    "contract": [0],
    "status": [0],
    "hours_worked": [40.0]
}

df = pd.DataFrame(data)

df

,agency_name,sex,race,job_class,classification,contract,status,hours_worked
0,75.0,0,5.0,756.0,0,0,0,40.0

In [6]:
# Load model SVM dari file
gbm_model = joblib.load('gbm_model.pkl')

predictions = gbm_model.predict(df)

# Analisis Hasil Inferensi
predictions_df = pd.DataFrame(predictions, columns=['Predicted Month Salary'])

# Menganalisis hasil prediksi
print(predictions_df['Predicted Month Salary'])

0    4101.666323
Name: Predicted Month Salary, dtype: float64