In [11]:
'''
=================================================
Graded Challenge 2

Nama  : Ahmad Qais Alfiansyah
Batch : RMT-026

Program ini dibuat untuk:
1. Mengetahuin isi dari datadrame (eksplorasi)
2. Data Frame yang masih RAW ini dilakukan proses
   Cleaning seperti membersihkan data inconsistent,
   duplicate, dan data-data yang tidak relevan
3. Menormalisasi data sehingga bisa dipecah menjadi
   tabel-tabel yang independen
=================================================
'''

'\n=================================================\nGraded Challenge 2\n\nNama  : Ahmad Qais Alfiansyah\nBatch : RMT-026\n\nProgram ini dibuat untuk:\n1. Mengetahuin isi dari datadrame (eksplorasi)\n2. Data Frame yang masih RAW ini dilakukan proses\n   Cleaning seperti membersihkan data inconsistent,\n   duplicate, dan data-data yang tidak relevan\n3. Menormalisasi data sehingga bisa dipecah menjadi\n   tabel-tabel yang independen\n4. \n=================================================\n'

Tiap cell diberikan penjelasan mengenai apa yang dilakukan/dijalankan dengan markdown. Untuk file .sql, berikan comment di tiap kumpulan query sesuai dengan tahapan-tahapan yang dilakukan (seperti edit data, memasukan data, dll).

# 1. Data Exploration

## 1a. Load file data dengan Pandas lalu tampilkan data. Informasi apa yang bisa kamu sampaikan dari langkah ini?

In [12]:
# Langkah awal, saya ambil link csv dari github agar data tidak hilang setiap program ditutup
import pandas as pd

path = 'https://raw.githubusercontent.com/FTDS-learning-materials/phase-0/main/src/Financials.csv'
dataset = pd.read_csv(path, delimiter=',')
dataset

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,"$1,618.50",$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,"$1,321.00",$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,"$2,178.00",$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,$888.00,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,"$2,470.00",$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,Small Business,France,Amarilla,High,"$2,475.00",$260.00,$300.00,"$7,42,500.00","$1,11,375.00","$6,31,125.00","$6,18,750.00","$12,375.00",01/03/2014,3,March,2014
696,Small Business,Mexico,Amarilla,High,$546.00,$260.00,$300.00,"$1,63,800.00","$24,570.00","$1,39,230.00","$1,36,500.00","$2,730.00",01/10/2014,10,October,2014
697,Government,Mexico,Montana,High,"$1,368.00",$5.00,$7.00,"$9,576.00","$1,436.40","$8,139.60","$6,840.00","$1,299.60",01/02/2014,2,February,2014
698,Government,Canada,Paseo,High,$723.00,$10.00,$7.00,"$5,061.00",$759.15,"$4,301.85","$3,615.00",$686.85,01/04/2014,4,April,2014
699,Channel Partners,United States of America,VTT,High,"$1,806.00",$250.00,$12.00,"$21,672.00","$3,250.80","$18,421.20","$5,418.00","$13,003.20",01/05/2014,5,May,2014

**KNOWLEDGE: **

Data *Financials* yang sangat lengkap, namun masih sangat *raw*. Dibutuhkan proses pembersihan sebagai langkah lanjutan

## 1b. Tampilkan informasi summary data dan berikan penjelasan mengenai temuan yang diperoleh.

In [13]:
# Kita bedah data frame dengan menggunakan kode di bawah:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Segment                700 non-null    object
 1   Country                700 non-null    object
 2    Product               700 non-null    object
 3    Discount Band         700 non-null    object
 4    Units Sold            700 non-null    object
 5    Manufacturing Price   700 non-null    object
 6    Sale Price            700 non-null    object
 7    Gross Sales           700 non-null    object
 8    Discounts             700 non-null    object
 9     Sales                700 non-null    object
 10   COGS                  700 non-null    object
 11   Profit                700 non-null    object
 12  Date                   700 non-null    object
 13  Month Number           700 non-null    int64
 14   Month Name            700 non-null    object
 15  Year                   700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB

**KNOWLEDGE:**

Dari informasi di atas, Data *Financials* terdiri dari 700 *entries data* dan terdapat 16 kolom yang hampir seluruhnya berjenis *Object*. Bukan hanya itu, nama kolom tersebut juga banyak mengandung *white space*

## 1c. Tampilkan list nama-nama kolom dan berikan penjelasan temuan apa yang kamu dapatkan, serta berikan langkah apa selanjutnya dari temuan ini.

In [14]:
# Untuk menampilkan hanya nama-nama kolo kita gunakan kode berikut:
dataset.columns

Index(['Segment', 'Country', ' Product ', ' Discount Band ', ' Units Sold ',
       ' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ',
       '  Sales ', ' COGS ', ' Profit ', 'Date', 'Month Number',
       ' Month Name ', 'Year'],
      dtype='object')

**INSIGHT:**

Berdasarkan temuan di atas, *Data Financials*ini bisa dan harus dipecah menjadi beberapa tabel

## 1d. tampilkan list nilai unik masing-masing kolom `Segment`, `Country`, `Product`, `Discount Band` dan berikan informasi apa yang dapat kamu ambil dari langkah ini.

In [15]:
# Berikut adalah kode untuk menampilkan data unik dari data frame:

seg_un= dataset['Segment'].unique()
seg_uc= dataset['Country'].unique()
seg_up= dataset[' Product '].unique()
seg_udb= dataset[' Discount Band '].unique()
print("Data Unik dari\n ")
print(f"Kolom Segment adalah sebagai berikut:\n{seg_un}\n ")

print(f"Kolom Country adalah sebagai berikut:\n{seg_uc}\n ")

print(f"Kolom Product adalah sebagai berikut:\n{seg_up}\n ")

print(f"Kolom Discount Band adalah sebagai berikut:\n{seg_udb}\n ")

Data Unik dari

Kolom Segment adalah sebagai berikut:
['Government' 'Midmarket' 'Channel Partners' 'Enterprise' 'Small Business']

Kolom Country adalah sebagai berikut:
['Canada' 'Germany' 'France' 'Mexico' 'United States of America']

Kolom Product adalah sebagai berikut:
[' Carretera ' ' Montana ' ' Paseo ' ' Velo ' ' VTT ' ' Amarilla ']

Kolom Discount Band adalah sebagai berikut:
[' None ' ' Low ' ' Medium ' ' High ']

Dari temuan di atas, dapat kita ketahui bahwa:

1.   Ada 6 produk yang tercatat di *Data Financials* yaitu: Carretera, Montana, Paseo, Velo, VTT, dan Amarilla.
1.   Perusahaan menerapkan 4 tingkatan *Discount* yaitu dari tidak ada diskon sama sekali (*None*), rendah (*Low*), sedang (*Medium*), dan ting (*High*).
1.   Tercatat hanya ada 5 Negara yang menjadi konsumen perusahaan, yaitu: *Canada*, *Germany*, *France*, *Mexico*, dan *United States of America*.
1.   Dari ke 5 negara tersebut, konsumen terbagi List item menjadi 5 *segment* diantaranya: *Government*, *Midmarket*, *Channel Partners*, *Enterprise*, dan *Small Business*.

# 2. Data Cleaning

## Data Duplikat

In [16]:
# Cek Duplicate
dataset[dataset.duplicated()]

Empty DataFrame
Columns: [Segment, Country,  Product ,  Discount Band ,  Units Sold ,  Manufacturing Price ,  Sale Price ,  Gross Sales ,  Discounts ,   Sales ,  COGS ,  Profit , Date, Month Number,  Month Name , Year]
Index: []

**KNOWLDGE**

Tidak ditemukan adanya data duplikat

## White Space

In [17]:
# Menghapus White Space
dataset.columns = dataset.columns.str.strip()
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Segment              700 non-null    object
 1   Country              700 non-null    object
 2   Product              700 non-null    object
 3   Discount Band        700 non-null    object
 4   Units Sold           700 non-null    object
 5   Manufacturing Price  700 non-null    object
 6   Sale Price           700 non-null    object
 7   Gross Sales          700 non-null    object
 8   Discounts            700 non-null    object
 9   Sales                700 non-null    object
 10  COGS                 700 non-null    object
 11  Profit               700 non-null    object
 12  Date                 700 non-null    object
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: int64(2), object(14)
memory usage: 87.6+ KB

## Nama Kolom

Setelah step ini, date terlihat sudah lebih rapi. Tapi apakah sudah bersih? Kita akan lakukan tahapan selanjutnya

In [18]:
# Merubah nama kolom menjadi Snake Case
dataset.rename(columns={
    "Segment": "segment",
    "Country": "country",
    "Product": "product",
    "Discount Band": "discount_band",
    "Units Sold": "units_sold",
    "Manufacturing Price": "manufacturing_price",
    "Sale Price": "sale_price",
    "Gross Sales": "gross_sales",
    "Discounts": "discount",
    "Sales": "sales",
    "COGS": "cogs",
    "Profit": "profit",
    "Date": "date"
    }, inplace=True)

Ini adalah salah satu poin penting dari nama kolom. Nama kolom tidak mengandung spasi dan kapital. Saya menggunakan *style* ***Snake Case***

## Data Inconsistent

### Ini adalah tahapan terpanjang yaitu membuat data agar menmiliki tipe sebagaimana mestinya

In [19]:
# Menghapus simbol $ dan comma penyebab inconsistent data
dataset['units_sold'] = dataset['units_sold'].str.replace('$', '')
dataset['units_sold'] = dataset['units_sold'].str.replace(',', '')

<ipython-input-19-ad97057df3a0>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataset['units_sold'] = dataset['units_sold'].str.replace('$', '')

In [20]:
# Merubah tipe data pada kolom Units Sold menjadi Float
dataset['units_sold'] = dataset['units_sold'].astype(float)
dataset.head()

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discount,sales,cogs,profit,date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,$3.00,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,$3.00,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [21]:
# Menghapus simbol $ pada kolom Manufacturing Price penyebab inconsistent data
# Merubah tipe data menjadi Float
dataset['manufacturing_price'] = dataset['manufacturing_price'].str.replace('$', '')
dataset['manufacturing_price'] = dataset['manufacturing_price'].astype(float)
dataset.head()

<ipython-input-21-f479b22f7b03>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataset['manufacturing_price'] = dataset['manufacturing_price'].str.replace('$', '')

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discount,sales,cogs,profit,date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,$15.00,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,$15.00,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [22]:
# Menghapus simbol $ pada kolom Sale Price penyebab inconsistent data
# Merubah tipe data menjadi Float
dataset['sale_price'] = dataset['sale_price'].str.replace('$', '')
dataset['sale_price'] = dataset['sale_price'].astype(float)
dataset.head()

<ipython-input-22-fb268163baef>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataset['sale_price'] = dataset['sale_price'].str.replace('$', '')

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discount,sales,cogs,profit,date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,"$13,320.00",$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,"$37,050.00",$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [23]:
# Menghapus simbol $ dan comma pada kolom Gross Sales penyebab inconsistent data
# Merubah tipe data menjadi Float

dataset['gross_sales'] = dataset['gross_sales'].str.replace('$', '')
dataset['gross_sales'] = dataset['gross_sales'].str.replace(',', '')
dataset['gross_sales'] = dataset['gross_sales'].astype(float)
dataset.head()

<ipython-input-23-2bc3838fa6b0>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataset['gross_sales'] = dataset['gross_sales'].str.replace('$', '')

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discount,sales,cogs,profit,date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,$-,"$32,670.00","$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,$-,"$13,320.00","$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,$-,"$37,050.00","$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [24]:
# Menghapus simbol $ dan comma pada kolom Sales penyebab inconsistent data
# Merubah tipe data menjadi Float
dataset['sales'] = dataset['sales'].str.replace('$', '')
dataset['sales'] = dataset['sales'].str.replace(',', '')
dataset['sales'] = dataset['sales'].astype(float)
dataset.head()

<ipython-input-24-2be23a07642f>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataset['sales'] = dataset['sales'].str.replace('$', '')

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discount,sales,cogs,profit,date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,$-,32370.0,"$16,185.00","$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,$-,26420.0,"$13,210.00","$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,$-,32670.0,"$21,780.00","$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,$-,13320.0,"$8,880.00","$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,$-,37050.0,"$24,700.00","$12,350.00",01/06/2014,6,June,2014

In [25]:
# Menghapus simbol $ dan comma pada kolom COGS penyebab inconsistent data
# Merubah tipe data menjadi Float
dataset['cogs'] = dataset['cogs'].str.replace('$', '')
dataset['cogs'] = dataset['cogs'].str.replace(',', '')
dataset['cogs'] = dataset['cogs'].astype(float)
dataset.head()

<ipython-input-25-ef26b3d76cc0>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dataset['cogs'] = dataset['cogs'].str.replace('$', '')

,segment,country,product,discount_band,units_sold,manufacturing_price,sale_price,gross_sales,discount,sales,cogs,profit,date,Month Number,Month Name,Year
0,Government,Canada,Carretera,None,1618.5,3.0,20.0,32370.0,$-,32370.0,16185.0,"$16,185.00",01/01/2014,1,January,2014
1,Government,Germany,Carretera,None,1321.0,3.0,20.0,26420.0,$-,26420.0,13210.0,"$13,210.00",01/01/2014,1,January,2014
2,Midmarket,France,Carretera,None,2178.0,3.0,15.0,32670.0,$-,32670.0,21780.0,"$10,890.00",01/06/2014,6,June,2014
3,Midmarket,Germany,Carretera,None,888.0,3.0,15.0,13320.0,$-,13320.0,8880.0,"$4,440.00",01/06/2014,6,June,2014
4,Midmarket,Mexico,Carretera,None,2470.0,3.0,15.0,37050.0,$-,37050.0,24700.0,"$12,350.00",01/06/2014,6,June,2014

In [26]:
# kode di bawah ini untuk merubah data supaya bisa dijadikan float
dataset['profit'] = dataset['profit'].str.replace('[\$,()]', '', regex=True)
dataset['profit'] = dataset['profit'].replace('-', '0', regex=True)
dataset['profit'] = dataset['profit'].astype(float)
dataset['profit'] = dataset['profit'].replace('','0').astype(float).fillna(0)

In [27]:
# kode di bawah ini untuk merubah data supaya bisa dijadikan float
dataset['discount'] = dataset['discount'].str.replace('[\$,()]', '', regex=True)
dataset['discount'] = dataset['discount'].replace('-', '0', regex=True)
dataset['discount'] = dataset['discount'].astype(float)
dataset['discount'] = dataset['discount'].replace('','0').astype(float).fillna(0)


dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   segment              700 non-null    object
 1   country              700 non-null    object
 2   product              700 non-null    object
 3   discount_band        700 non-null    object
 4   units_sold           700 non-null    float64
 5   manufacturing_price  700 non-null    float64
 6   sale_price           700 non-null    float64
 7   gross_sales          700 non-null    float64
 8   discount             700 non-null    float64
 9   sales                700 non-null    float64
 10  cogs                 700 non-null    float64
 11  profit               700 non-null    float64
 12  date                 700 non-null    object
 13  Month Number         700 non-null    int64
 14  Month Name           700 non-null    object
 15  Year                 700 non-null    int64
dtypes: float64(8), int64(2), object(6)
memory usage: 87.6+ KB

In [29]:
# Merubah data type pada kolom Date menjadi type DateTime
dataset['date'] = pd.to_datetime(dataset['date'])

In [30]:
# Remove 3 kolom ekstraksi waktu
# Menurut saya 3 kolom ini tidak relevan, dan belum dibutuhkan
dataset.drop('Year', axis = 1, inplace=True)
dataset.drop('Month Number', axis = 1, inplace=True)
dataset.drop('Month Name', axis = 1, inplace=True)

In [31]:
# Menambahkan kolom transaction_id sebagai primary key tabel_utama
dataset.insert(0, 'transaction_id', range(1, 1 + len(dataset)))

In [32]:
# Merubah urutan kolom
# Kolom yang saling terkait didekatkan
# seperti units_sold dan sale_price didekatkan denngan gross_sales
# supaya lebih mudah dibaca

x = pd.DataFrame(dataset)

reorder = ['transaction_id', 'date', 'segment', 'country', 'product', 'discount_band',
          'units_sold', 'sale_price', 'gross_sales', 'discount',
          'sales', 'cogs', 'profit', 'manufacturing_price']

dataset = x.loc[:,reorder]

In [33]:
# cek tipe data tiap kolom
# Langkah terkahir dari tahapan ini
dataset.info()
dataset.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   transaction_id       700 non-null    int64
 1   date                 700 non-null    datetime64[ns]
 2   segment              700 non-null    object
 3   country              700 non-null    object
 4   product              700 non-null    object
 5   discount_band        700 non-null    object
 6   units_sold           700 non-null    float64
 7   sale_price           700 non-null    float64
 8   gross_sales          700 non-null    float64
 9   discount             700 non-null    float64
 10  sales                700 non-null    float64
 11  cogs                 700 non-null    float64
 12  profit               700 non-null    float64
 13  manufacturing_price  700 non-null    float64
dtypes: datetime64[ns](1), float64(8), int64(1), object(4)
memory usage: 76.7+ KB

,transaction_id,date,segment,country,product,discount_band,units_sold,sale_price,gross_sales,discount,sales,cogs,profit,manufacturing_price
0,1,2014-01-01,Government,Canada,Carretera,None,1618.5,20.0,32370.0,0.0,32370.0,16185.0,16185.0,3.0
1,2,2014-01-01,Government,Germany,Carretera,None,1321.0,20.0,26420.0,0.0,26420.0,13210.0,13210.0,3.0
2,3,2014-01-06,Midmarket,France,Carretera,None,2178.0,15.0,32670.0,0.0,32670.0,21780.0,10890.0,3.0
3,4,2014-01-06,Midmarket,Germany,Carretera,None,888.0,15.0,13320.0,0.0,13320.0,8880.0,4440.0,3.0
4,5,2014-01-06,Midmarket,Mexico,Carretera,None,2470.0,15.0,37050.0,0.0,37050.0,24700.0,12350.0,3.0

# Data Normalization

In [36]:
tabel_utama = pd.DataFrame(dataset)

tabel_product = pd.DataFrame({
    'product_id': range(1, len(tabel_utama['product'].unique()) + 1),
    'product': tabel_utama['product'].unique()
})

tabel_country = pd.DataFrame({
    'country_id': range(1, len(tabel_utama['country'].unique()) + 1),
    'country': tabel_utama['country'].unique()
})

tabel_segment = pd.DataFrame({
    'segment_id': range(1, len(tabel_utama['segment'].unique()) + 1),
    'segment': tabel_utama['segment'].unique()
})

tabel_discount = pd.DataFrame({
    'discount_id': range(1, len(tabel_utama['discount_band'].unique()) + 1),
    'discount_band': tabel_utama['discount_band'].unique()
})

print(tabel_product,"\n")
print(tabel_country,"\n")
print(tabel_segment,"\n")
print(tabel_discount,"\n")

   product_id      product
0           1   Carretera
1           2     Montana
2           3       Paseo
3           4        Velo
4           5         VTT
5           6    Amarilla

   country_id                   country
0           1                    Canada
1           2                   Germany
2           3                    France
3           4                    Mexico
4           5  United States of America

   segment_id           segment
0           1        Government
1           2         Midmarket
2           3  Channel Partners
3           4        Enterprise
4           5    Small Business

   discount_id discount_band
0            1         None
1            2          Low
2            3       Medium
3            4         High

In [37]:
dataset.to_csv('transactions.csv', index=False) # <--- Tabel utama
tabel_product.to_csv('products.csv', index=False)
tabel_country.to_csv('countries.csv', index=False)
tabel_segment.to_csv('segments.csv', index=False)
tabel_discount.to_csv('discounts.csv', index=False)

# Relational Database & SQL & Pengujian Database

=================================================

Program ini ditujukan untuk membuat database dan menyimpan olahan data dari Pandas.
Sehingga kedepannya, user sudah dapat menggunakan Postgresql untuk menyimpan data Financials

Nama database: Finance (Refer to nama team/department)
Nama tabel:
1. Transactions
2. Segments
3. Countries
4. Discounts

User yang dibuat:
1. Manager (All Access)
2. Supervisor (All Access)
3. Staff (Limited to SELECT only)

=================================================

file [sql](https://drive.google.com/file/d/1-KAm4PpOqIwMqxPdhkwFL-UryMRnEj8T/view?usp=sharing)
Untuk tabel total profit dan data statistik sudah diupload pada notebook ini, tetapi bisa juga melalui link ini:

[Tabel Profit per Segmen](https://drive.google.com/file/d/1Wj51CPnClEoCVV0qpqDjaEe5cY3E0uuK/view?usp=sharinghttps://)

[Tabel Statistik sales per Negara](https://drive.google.com/file/d/13J9CEKl5iUroaDqYYI2CX3iQ9NgsWbxl/view?usp=drive_link)

Saya juga lampirkan diagram ERD [di sini](https://drive.google.com/file/d/1sUQw5xhV2w77FXvRLkGcMKoTRxxQBcER/view?usp=sharing)

=================================================

Ini adalah kode sql dari point terakhir


```
<!-- Menghitung profit berdasarkan segmen -->
SELECT segment, SUM(profit) AS total_profit_tanpa_diskon
FROM transactions
WHERE discount <> 0
GROUP BY segment;

<!-- Menghitung angka Average, Minimum dan Maximum penjualan berdasarkan negara -->
SELECT country, AVG(sales) AS sales_average, MIN(sales) AS sales_min, MAX(sales) AS sales_max
FROM transactions
GROUP BY country;

```